#visualization {
		margin: 0 auto;
	max-width: 500px;
	position: relative;
}
#app #calendar {
	margin: 20px;
}
#app #legend {
	position: absolute;
	left: 225px;
	top: 365px;
}
#app #legend p.title {
	font-size: 0.8rem;
	font-family: BentonSansCond-Bold, sans-serif;
	margin-top: -3px;
	transform: translateX(20px);
}

#app #legend p.legend-num {
	font-size: 0.8rem;
	font-family: BentonSansCond-Regular;
	position: absolute;
	right: 3px;
}
#app #legend p.legend-num.bottom {
	bottom: -10px;
}
#app #legend p.legend-num.top {
	top: 15px;
}
#app #legend #scale {
	background: linear-gradient(#dbdaeb, #25629a);
	height: 120px;
	margin-left: 100%;
	width: 20px;
}

#calendar .month {
	margin-right: 8px;
}
#calendar .month-name {
	font-size: 85%;
	fill: #777;
	font-family: BentonSansCond-Regular;
}
#calendar .day.ia-anno {
	stroke: #F6B31C;
	stroke-width: 4px;
}
#calendar .day.hover {
	stroke: #6d6E70;
	stroke-width: 2;
}
#calendar .day.focus {
	stroke: #ffff33;
	stroke-width: 2;
}

#calendar .month-name {
	color: #898B8E;
	font-family: BentonSansCond-Bold, sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
}

#calendar rect {
	shape-rendering: geometricprecision;
}


/* ANNOTATIONS */
#calendar .month {
	display: block;
}

#annotations {
	bottom: 0;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}
#annotations .annos {
	left: 185px;
	max-width: 175px;
	position: absolute;
}

#annotations .yellow {
	color: var(--yellow01);
}

#annotations .title {
	color: var(--grey03);
	font-family: BentonSansCond-RegItalic, sans-serif;
	font-size: 0.9rem;
}

#annotations .date {
	font-family: BentonSansCond-Bold, sans-serif;
}
#jan-anno {
	top: 55px;
}
#feb-anno {
	top: 240px;
}
#ia-anno {
	top: 525px;
}
#june-anno {
	top: 750px;
}

#july-anno {
	top: 880px;
}

#totals-anno {
	top: 1125px;
}

#ha-anno {
	top: 1500px;
}

#annotations .lead {
	border-right: 1px solid var(--grey02);
	border-top: 1px solid var(--grey02);
	height: 10px;
    transform: translateX(-40px);
    width: 50px;
}
#jan-anno .lead {
	transform: translateX(-60px);
    width: 70px;
}
#feb-anno .lead {
	transform: translateX(-80px);
    width: 90px;
}
#ia-anno .lead {
	transform: translateX(-80px);
    width: 90px;
}
#june-anno .lead {
	border-bottom: 1px solid var(--grey02);
	border-top: none;
    transform: translate(-40px, 70px);
}
#july-anno .lead {
	border: 1px solid var(--grey02);
	height: 135px;
	position: absolute;
    transform: translate(-170px, -10px);
    width: 165px;
}



@media only screen and (min-width: 400px) {
    /* Style adjustments for viewports that meet the condition */
    #jan-anno {
		top: 55px;
	}
	#feb-anno {
    	top: 240px;
    }
    #june-anno {
    	top:750px;
    }
    #july-anno {
    	top: 883px;
    }
}