#calendar {
	margin: 20px;
}
#calendar .month {
	margin-right: 8px;
}
#calendar .month-name {
	font-size: 85%;
	fill: #777;
	font-family: Arial, Helvetica;
}
#calendar .day.anno {
	stroke: #F6B31C;
	stroke-width: 4px;
}
#calendar .day.hover {
	stroke: #6d6E70;
	stroke-width: 2;
}
#calendar .day.focus {
	stroke: #ffff33;
	stroke-width: 2;
}

#calendar .month-name {
	color: #898B8E;
	font-family: BentonSansCond-Bold, sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
}

#calendar rect {
	shape-rendering: geometricprecision;
}

