#app {
	margin: 0 auto;
	max-width: 500px;
}

#app #cal-heatmap {
	margin: 0 auto;
	max-width: 250px;
}

#app .graph-label {
	color: #6D6E70;
	font-family: BentonSansCond-Bold, sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
}

#app #cal-heatmap rect {
	shape-rendering: geometricprecision;
}

/* income assistance weeks */
#app #cal-heatmap rect.highlight {
	stroke: #F6B31C;
	stroke-width: 4px;
}

#cal-heatmap .ch-tooltip {
	background: rgba(255,255,255,0.9);
	color: #231F20;
	font-family: BentonSansCond-Reg, sans-serif;
	font-size: 0.8rem;
	width: 175px;
}
#cal-heatmap .ch-tooltip:after {
	border-top-color: rgba(255,255,255,0.9);
}


/* POSTMEDIA STYLES */
#app h1 {
	color: var(--black);
	font-family: Shift-BoldItalic, serif;
	font-size: 2rem;
	margin-bottom: 0.5rem;
	text-align: center;
}
#app h2 {
	color: var(--black);
	font-family: BentonSansCond-Bold, sans-serif;
	margin: 1px 0;
}
#app h3 {
	color: var(--black);
	font-family: BentonSansCond-Bold, sans-serif;
}
#app h4 {
	color: var(--black);
	font-family: BentonSansCond-Regular, sans-serif;
	font-size: 0.8rem;
}

#app p {
	color: var(--black);
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	line-height: 1.3rem;
	margin: 0;
}

#app footer {
	display: flex;
}

#app footer > p {
	flex: 1;
}

#app .note,
#app .source,
#app .credit {
	color: var(--grey02);
	font-size: 0.8rem;
}

#app .credit {
	text-align: right;
}

#app .source a {
	color: inherit;
}




@media only screen and (min-width: 500px) {
    /* Style adjustments for viewports that meet the condition */
}
